html {
  background-color: lightgrey;
}

h1, .sliding, .options{
  display:flex;
  justify-content: center;
}

#container {
  width: 1000px;
  height:1000px;
  max-width:1000px;
  max-height:1000px;
  background-color: white;
  margin: 0 auto;
}

.colorSelector, #clear{
  margin: 10px auto;
}

h1, .min-value, .max-value, .sliderlabel{
  color: black;
}

.min-value, .max-value{
  width: 40px;
  text-align: center;
}

.sliding{
  margin-top: 15px;
}

.slider {
  width: 200px;
  margin: 0 10px;
}

.slider, .min-value, .max-value{
  display: inline-block;
}
.cell{
  border: 1px dotted ; 
}


#container > .colored{
  background-color: currentColor;
}

#clear{
  width:100px;
  height: 50px;
}

.options{
  flex-direction: column;
}